# Imports

In [22]:
from pandas import read_csv
from math import floor
from math import log2
from itertools import product
from pandas import DataFrame as Table

# Reading the dataset

In [2]:
DATA = read_csv("Wholesale customers data.csv")

# Peek into the dataset

In [3]:
DATA

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

# Taking a subset of the data

In [8]:
SUBSET = DATA.iloc[0:6,2:5]
SUBSET

   Fresh  Milk  Grocery
0  12669  9656     7561
1   7057  9810     9568
2   6353  8808     7684
3  13265  1196     4221
4  22615  5410     7198
5   9413  8259     5126

# Calculating all possibile values of every attribute

In [26]:
def calculate_binary_rapp_column(column):
    maximum = column.max()
    nBits = floor(log2(maximum)) + 1
    possibleValues = list(product([0, 1], repeat=nBits))
    return Table(possibleValues)

In [27]:
calculate_binary_rapp_column(SUBSET.iloc[:,0])

       0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0       0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
1       0   0   0   0   0   0   0   0   0   0   0   0   0   0   1
2       0   0   0   0   0   0   0   0   0   0   0   0   0   1   0
3       0   0   0   0   0   0   0   0   0   0   0   0   0   1   1
4       0   0   0   0   0   0   0   0   0   0   0   0   1   0   0
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
32763   1   1   1   1   1   1   1   1   1   1   1   1   0   1   1
32764   1   1   1   1   1   1   1   1   1   1   1   1   1   0   0
32765   1   1   1   1   1   1   1   1   1   1   1   1   1   0   1
32766   1   1   1   1   1   1   1   1   1   1   1   1   1   1   0
32767   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1

[32768 rows x 15 columns]

In [28]:
calculate_binary_rapp_column(SUBSET.iloc[:,1])

       0   1   2   3   4   5   6   7   8   9   10  11  12  13
0       0   0   0   0   0   0   0   0   0   0   0   0   0   0
1       0   0   0   0   0   0   0   0   0   0   0   0   0   1
2       0   0   0   0   0   0   0   0   0   0   0   0   1   0
3       0   0   0   0   0   0   0   0   0   0   0   0   1   1
4       0   0   0   0   0   0   0   0   0   0   0   1   0   0
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
16379   1   1   1   1   1   1   1   1   1   1   1   0   1   1
16380   1   1   1   1   1   1   1   1   1   1   1   1   0   0
16381   1   1   1   1   1   1   1   1   1   1   1   1   0   1
16382   1   1   1   1   1   1   1   1   1   1   1   1   1   0
16383   1   1   1   1   1   1   1   1   1   1   1   1   1   1

[16384 rows x 14 columns]

In [29]:
calculate_binary_rapp_column(SUBSET.iloc[:,2])

       0   1   2   3   4   5   6   7   8   9   10  11  12  13
0       0   0   0   0   0   0   0   0   0   0   0   0   0   0
1       0   0   0   0   0   0   0   0   0   0   0   0   0   1
2       0   0   0   0   0   0   0   0   0   0   0   0   1   0
3       0   0   0   0   0   0   0   0   0   0   0   0   1   1
4       0   0   0   0   0   0   0   0   0   0   0   1   0   0
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
16379   1   1   1   1   1   1   1   1   1   1   1   0   1   1
16380   1   1   1   1   1   1   1   1   1   1   1   1   0   0
16381   1   1   1   1   1   1   1   1   1   1   1   1   0   1
16382   1   1   1   1   1   1   1   1   1   1   1   1   1   0
16383   1   1   1   1   1   1   1   1   1   1   1   1   1   1

[16384 rows x 14 columns]

# Min and max
However, we don't need to keep in memory all possibile binary numbers, we could just calculate the maximum number for a certain number of bits.

In [34]:
def calculate_range(column):
    maximum = column.max()
    nBits = floor(log2(maximum)) + 1
    return 0,1<<nBits

In [46]:
RANGES = {attribute: calculate_range(SUBSET[attribute]) for attribute in SUBSET.columns.values.tolist()}

In [47]:
RANGES

{'Fresh': (0, 32768), 'Milk': (0, 16384), 'Grocery': (0, 16384)}